.header_container{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex;
    background-color: whitesmoke;
    border-bottom: 1px solid lightgrey;
    justify-content: space-between;
    z-index: 999;
    padding: 0 10%;
}
.header_left{
    margin: 10px;
    display: flex; 
    align-items: center; 
    justify-content: space-evenly;
}
.search_box{
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: white;
    margin-left: 10px;
}
.search_box > input{
    border: none;
    outline: 0;
    background: none;
    width: 300px;
}
.search_icon{
    color: gray;
}
.header_left > img{
    height: 50px;
    width: 48px;
    object-fit: contain;
    border-radius: 10px;
}
.header_right{
    display: flex;
    align-items: center;
    padding-right: 11%;
}
@media only screen and (max-width: 800px){
    .header_container{
        flex-wrap: wrap;
    }
}