.feed_container{
    flex: 0.5;
    margin: 20px 10px;
    
}
.container{
    /* display: flex;
    flex: 1; */
    border: 1px solid lightgray;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    color: gray;
}
.input_container{
    display: flex;
    flex: 1;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    margin: 10px 20px;
}
.input_container > form{
    display: flex;
    width: 100%;
}
.input_container > form > input{  
    border: none;
    outline-width: 0;
    flex: 1;  
}
.input_items{
    display: flex;
    justify-content: space-evenly;
}
.input_container > form > button{
    display: none;
}
@media only screen and (max-width: 800px) {
    .feed_container{
        flex: 1;
    }
  }

@media only screen and (max-width :500px){
    .container{
        width: 80vw;
    }
}