.feed_container{
    flex: 0.5;
    margin: 20px 10px;
    
}
.container{
    border: 1px solid lightgray;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    color: gray;
    margin-top: 10px;
}
.input_container{
    display: flex;
    flex: 1;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    margin: 10px 20px;
}
.input_container > form{
    display: flex;
    width: 100%;
}
.input_container > form > input{  
    border: none;
    outline-width: 0;
    flex: 1;  
}
.input_items{
    display: flex;
    justify-content: space-evenly;
}
.input_container > form > button{
    display: none;
}

.feed_cant_delete_others_post, .feed_post_deleted {
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    color: #e41c38;
    font-weight: 700;
    border: 1px solid #e41c38;
    border-radius: 6px;
    text-align: center;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.feed_post_deleted {
    color: #0047ab;
    border: 1px solid #0047ab;
}

@media only screen and (max-width: 800px) {
    .feed_container{
        flex: 1;
    }
  }

@media only screen and (max-width :500px){
    .container{
        width: 80vw;
    }
}