.feed_container{
    flex: 0.5;
    margin: 20px 10px;
    
}
.container{
    border: 1px solid lightgray;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    color: gray;
    margin-top: 10px;
}
.input_container{
    display: flex;
    flex: 1;
    border: 1px solid lightgray;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    margin: 10px 20px;
}
.input_container > form{
    display: flex;
    width: 100%;
}
.input_container > form > input{  
    border: none;
    outline-width: 0;
    flex: 1;  
}
.fileUpload {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	overflow: hidden;
	position: relative;
	text-align: center;
   cursor: pointer;
}
.fileUpload:hover, .fileUpload:active, .fileUpload:focus {
  cursor: pointer;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 148px;
    height: 46px;
  cursor: pointer;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    /* padding: 6px 12px; */
    cursor: pointer;
}
.input_items{
    display: flex;
    justify-content: space-evenly;
}
.input_container > form > button{
    border: none;
    background-color: transparent;
    color: #0047ab;
    font-weight: 600;
}
.input_container > form > button:hover {
    cursor: pointer;
}

.feed_cant_delete_others_post, .feed_post_deleted {
    position: absolute;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    color: #e41c38;
    font-weight: 700;
    border: 1px solid #e41c38;
    border-radius: 6px;
    text-align: center;
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.feed_post_deleted {
    color: #0047ab;
    border: 1px solid #0047ab;
}

@media only screen and (max-width: 800px) {
    .feed_container{
        flex: 1;
    }
  }

@media only screen and (max-width :500px){
    .container{
        width: 80vw;
    }
}