.inputItems{
    display: flex;
    color: gray;
    align-items: center;
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    
}
.inputItems > p{
    margin-left: 10px;

}
.inputItems:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    
}
@media only screen and (max-width: 500px){
    .inputItems{
        font-size: 0.5rem;
    }
}