.posts_container{
    border: 1px solid lightgray;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    color: gray;
    padding-top: 5px;
    padding-left: 20px;

}
.posts_header > p{
    margin-top: 20px;
    margin-right: 20px;
}
.posts_header{
    display: flex;
}
.posts_name{
    font-size: 1rem;
    font-weight: bolder;
    color: black;
}
.posts_des{
    font-size: 0.8rem;

}
.posts_body{
    color: black;
    font-weight: 400;
    overflow-wrap: anywhere;
}
.posts_options{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    width: 400px;
}

.posts_body > p{
    padding-left: 10px;
    padding-top: 15px;
}

@media only screen and (max-width: 1200px) {
    .posts_options{
        flex-wrap: wrap;
    }
  }

@media only screen and (max-width: 500px){
    .posts_container{
        width: 75vw;
    }
}
@media only screen and (max-width: 500px){
    .posts_options{
        width: 70vw;
    }
}