.posts_container{
    border: 1px solid lightgray;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    color: gray;
    padding-top: 5px;
    padding-left: 20px;

}
.posts_header > p{
    margin-right: 20px;
}
.posts_header{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.posts_name{
    font-size: 1rem;
    font-weight: bolder;
    color: black;
}
.posts_des{
    font-size: 0.8rem;

}
.posts_body{
    color: black;
    font-weight: 400;
    overflow-wrap: anywhere;
}
.posts_options{
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
}

.posts_body > p{
    padding-left: 10px;
    padding-top: 15px;
}

.edit_post_modal_heading {
    display: flex;
    justify-content: space-between;
}

.edit_post_modal_heading > h1 {
    background-color: black !important;
}

.edit_post_modal_heading_close {
    background-color: transparent;
    border: none;
    border-style: none;
    font-size: 30px;
}

.edit_post_modal_heading_close:hover {
   cursor: pointer;
}

.edit_post_modal_input {
    border-radius: 8px;
    height: 35px;
    width: 100%;
    margin: 30px 0;
}

.edit_post_modal_update_btn {
    display: flex;
    justify-content: right;
}

@media only screen and (max-width: 1200px) {
    .posts_options{
        flex-wrap: wrap;
    }
  }

@media only screen and (max-width: 500px){
    .posts_container{
        width: 75vw;
    }
}
@media only screen and (max-width: 500px){
    .posts_options{
        width: 70vw;
    }
}