.uploadImage{
    position: fixed;
    top: 10%;
    left: 25%;
    width: 60vw;
    height: 70vh;
    z-index: 999;
    background-color: whitesmoke;
}
.uploadImage-preview{
    width: 100%;
    height: 400px;
}
.uploadImage-body{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
    outline: 0;
    border: none;
    background: none;
}