.uploadImage_container {
    position: fixed;
    z-index: 999;
    width: 40%;
    top: 15%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 0 10px 0 #0047ab;
}
.uploadImage{
    width: 100%;
    height: 70vh;
   display: flex;
}
.uploadImage_top{
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    text-align: right;
}
.uploadImage-preview{
    object-fit: contain;
    height: 400px;
    max-width: 90%;
}

.uploadImage-body{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
    outline: 0;
    border: none;
    background: none;
}
.display-image{
    text-align: center;
    margin-top: 20px;
}
.uploadImage-post > input{
    border: 1px solid grey;
    width: 400px;
}
.uploadImage-buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 0 2%;
    width: 100%;
}
.uploadImage-buttons > button{
    margin-right: 25px;
    margin-bottom: 15px;
    border: none;
    padding: 10px 25px;
    background-color: #0047ab;
    color: white;
    font-weight: 600;
    cursor: pointer;
}