.about_us {
    margin-top: 40px;
}
.about_us_title {
    font-weight: 700;
    font-size: 28px;
    margin: 60px 0;
}
.about_us_para1, .about_us_para2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin: 40px 0;
}