.login_container{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.login_container > img{
   width: 150px;
   object-fit: contain;
}
.login_container > form{
    display: flex;
    flex-direction: column;
    /* margin: 40px; */
    margin: 20px 0px;
    
}
.login_container > form >input{
    width: 355px;
    height: 50px;
    margin-bottom: 8px;
    border-radius: 5px;
    outline-width: 0;
    border-style: solid;
    border-width: 2px;
    
}
.login_container > form > button{
  width: 365px;
  height: 50px;
  font-size: large;
  color: #fff;
  background-color: #0074b1;
  border-radius: 5px;
  cursor: pointer;
}
.login_container > p{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 10px;
}
.login_container > p > span{
    color: #0074b1;
    cursor: pointer;
}
.guest_option{
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600 ;
    color: #0074b1;
    cursor: pointer;
}

@media only screen and (max-width: 400px){
    .login_container > form >input{
        width: 250px;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 400px){
    .login_container > form > button{
        width: 71vw;
        margin-left: 10px;
    }
}