
.info{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 2%;
    width: 300px;
    height: 60px;
    background-color:white;
    z-index: 999;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px gainsboro;
}
.info-content{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}
.close-icon{
    cursor: pointer;
}