.widget_container{
    flex: 0.2;
    position: sticky;
    top: 100px;
    height: fit-content;
    margin: 30px;
    border:1px solid lightgray;
    border-radius: 10px;
    background-color: white;

}
.widgets_header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    
    
}
.widgets_header > h2{
    font-size: 1.1rem;
    color: black;
    font-weight: 400;
}
.widgets{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 10px;

}
.widgets:hover{
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}
.widgets_right{
    display: flex;
    flex-direction: column;

}
.widgets_left{
    padding-left: 10px;
    color: gray;
    padding-right: 10px;
    
}
.headlines{
    color: black;
    font-weight: bolder;
}
.subtitles{
    color: gray;
    font-size: 0.7rem;
}
@media only screen and (max-width: 1000px) {
    .widget_container{
        display: none;
    }
  }